body{

    text-align: center;
    background:url("BG.jpg");
    background-position :center;
    background-size:90% ;
}
#div1{

background-color: aliceblue;
width: 500px;
margin-left: 370px;
height: 400;
border-radius: 50px;

}
#login_button{
    background-color: burlywood;
    
}